.logo-login {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.logo-topbar {
    margin-left: 40px;
}

.sidebar-mini .main-sidebar > .brand-link > .logo-mini > img {
    display: none;
}

.sidebar-mini .main-sidebar > .brand-link > .logo-lg > img {
    display: block;
    width: 128px;
}

#accordion > .card {
    margin-bottom: 0;
}

#accordion > .card > .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

    #accordion > .card > .card-header > h5 > a {
        display: block;
        text-align: left;
        color: #007bff;
    }


@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-sidebar > .brand-link > .logo-mini > img {
        display: block;
        width: 40px;
        margin-left: 10px;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar > .brand-link > .logo-lg > img {
        display: none;
    }
}